body {
    margin: 0;
    padding: 0;
}


:root {
    --mdc-theme-primary:#4252A4;
}


.mdc-theme--primary {
    color: #4252A4!important;
    color: var(--mdc-theme-primary,#4252A4)!important
}

.mdc-toolbar {
    background-color: #4252A4 !important;
    background-color: var(--mdc-theme-primary,#4252A4);
}



main {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom:80px;
    overflow-y: auto;
    overflow-x: hidden;
}


.list-section .mdc-list-item__secondary-text,.mdc-list-item__text {
    white-space: normal;
}

.list-section {
    margin:auto;
    max-width: 1000px;
}

.list-section h3 {
    margin-bottom: 0;
}

.list-section ul {
    padding: 0;
}

footer {
    position: absolute;
    bottom: 0px;
    top: unset;
    right: 0;
    left: 0;
    height: 54px;
    text-align: center;
}

figure.linear-progress {
    margin:0 !important;
    position: absolute;
    bottom: 60px;
    left: 0px;
    right: 0px;
    height: 20px;
}


span.mdc-list-item__text {
    display: inline-block; padding-top: 10px;
}

span.mdc-list-item__meta {
    display: inline-block; padding-top: 10px; text-align: right;
}

ul.mdc-list--single-line .mdc-list-item {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mdc-list-item__meta {
    max-width: 400px;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#error {
    background-color: #FFF293;
    padding: 20px;
}

.error-inline {
    color: red;
    padding: 20px 0 20px 0;
}

div.row {
    margin-bottom: 10px;
}